* {
    box-sizing: 'border-box';
}

body {
    margin : 0 auto; 
    /* color: red; */
    color:black
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem
}

header {
    width: 100%;
    height: 60px;
    background-color:  #ffffff ;
    position : fixed;
    top : 0;
    left : 0;
}

.head-container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-container .head-title{
    font-weight: bold;
    font-size: 1.2rem;
}


.head-container .head-item{
    font-weight: bold;
    font-size: 1.2rem;
}

a {
    all : unset
}

a:link {
    text-decoration: none;
    color: red;
}

a:visited {
  text-decoration: none;
  color: blue
}

a:active {
  text-decoration: none;
  color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: yellow;
}


.head-container .head-title a:hover {
  color: #2186c4;
  cursor: pointer;
}


section {
    background-color:  #ffffff;
    width: 100%;
}

.main {
    height: 300px;
    background-image: url("https://www.fun-coding.org/assets_lms/images/photodune-4161018-group-of-students-m.jpg");
    background-size: cover;
    background-position: center 0%;
    z-index: 1;
}

.main-container{
    width: 100%;
    height: 100%;
    background-color: #3f464d;
    opacity: 0.8;
    margin-top: 60px;
    z-index: 2;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.8rem;
}

.title-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.message {
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
  line-height: 2rem;
}

.skill-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}

.python-style {
  color: #2186c4;
}

.skill{
  width: 25%;
  height: 25%;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 9px;
  margin: 0 1rem;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
}

.skill-icon{
  font-size: 2.5rem;
  margin: 0 20px;
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.skill-name {
  font-weight: bold;
  color: #545e6f;
  margin-bottom: 0.2rem;
}

.skill-usage {
  font-size: 0.9rem;
  color: #545e6f;
}


.roadmap-container{
  /* display: flex; */


}

.roadmap-title-container{
  /* align-content: space-between;*/
    
  

}

.class-list-container{


}


@media only screen and (min-width : 1200px) {
    .inner{
        max-width: 1200px;
    }
}

/*980이하일떄*/
@media only screen and (max-width : 980px) {  
    .skill-container{
        display: none;
    }
}