* {
    box-sizing: 'border-box';
}

body {
    margin : 0 auto; 
    color: red;
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 60px;
    background-color:  #ffffff ;
    position : fixed;
    top : 0;
    left : 0;
}

.head-container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-container .head-title{
    font-weight: bold;
    font-size: 1.2rem;
}


.head-container .head-item{
    font-weight: bold;
    font-size: 1.2rem;
}

a {
    all : unset
}

a:link {
    text-decoration: none;
    color: red;
}

a:visited {
  text-decoration: none;
  color: blue
}

a:active {
  text-decoration: none;
  color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: yellow;
}


.head-container .head-title a:hover {
  color: #2186c4;
  cursor: pointer;
}


@media only screen and (min-width : 1200px) {
    .inner{
        max-width: 1200px;
    }
}